@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='271' height='271' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23BBBBBB' stroke-width='1.1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23C3C3C3'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-mycolor {
    background-color: rgba(0, 0, 0, 0.253);
}

/* Logo de contacto*/
.contactWhatsapp {
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    z-index: index 1;
    transition: all 500ms ease;
}

.contactWhatsapp:hover {
    background: #157e3d;
    z-index: index 0;
}

i {
    color: rgb(255, 255, 255);
    font-size: 45px;
}


/*Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    color: #7a7a7a;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 220px;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #2fb4cc;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        margin: 15px;
    }
}

.offalquileres {
    color: #e39403;
}

/*Fin-Cards*/


.contenedorVideoNS video {
    width: 500px;
    margin-left: 20px;
    border-radius: 5px;
}

.inversionAdds {
    display: flex;
    width: 100%;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    color: #d38c09;
    justify-content: space-around;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .inversionAdds {
        display: block;
        flex-wrap: wrap;
        padding: 50px;
        align-content: center;
    }

    .infoInversion {
        padding: 30px;
        justify-content: center;
    }
}


.pie {
    display: flex;

    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;

}

.py-1 {
    height: 30px;
}

.descFooter {
    display: flex;
}

/*Fin page Index*/






/*CSS a page Alquilar*/

/*.headerAlquilar{
    background-image: url(../assets/img/goli-1918291\ \(1\).jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    z-index: 0;
}
.headerAlquilar::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(5,7,12,0.75));
}*/

/* Fin Page Alquiler*/




/* Page Conntact*/
.contenedorContact {
    font-family: 'Open Sans', sans-serif;
}

.containerForm {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
    margin-left: 50px;
}

.containerForm h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.containerForm p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.containerForm a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.containerForm a i {
    color: orange;
    margin-right: 10px;
}

.containerForm form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.containerForm form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.containerForm .btnEnviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.containerForm .btnEnviar:hover {
    background: #e39403;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .containerForm {
        display: block;
        flex-wrap: wrap;
        padding-top: 100px;
        margin: 15px;
    }

    .inputForm {
        margin: 25px;
    }
}

/* Fin Page Alquiler*/